@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: rgb(0, 0, 0);
  --text-color: white;
  --main-color: rgb(253, 33, 33);
  --button-color: rgb(226, 19, 226);
}

body {
  background: var(--bg-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  z-index: 100;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 1rem;
}

header h1 {
  font-size: 5rem;
}

header h1 i {
  color: red;
}
span {
  color: var(--button-color);
}

.container {
  padding-top: 9rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  align-content: center;
  margin: 3rem;
}

.container .meal-box {
  width: 22vw;
  text-align: center;
  margin-bottom: 0.8rem;
  color: var(--text-color);
}

.meal-box img {
  width: 100%;
  height: 40vh;
  border-radius: 2rem;
  transition: 0.7s ease;
}

.meal-box img:hover {
  border-radius: 2rem;
  box-shadow: 0 0 1.2rem var(--main-color);
  animation: floatImage 2s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* Responsive*/

@media screen and (max-width: 1076px) {
  html {
    font-size: 70%;
  }
  .container {
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    grid-gap: 2rem;
  }
  .container .meal-box {
    width: 30vw;
  }
  .meal-box h3 {
    font-size: 2rem;
  }
  .meal-box p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 755px) {
  html {
    font-size: 50%;
  }

  .container {
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    grid-gap: 2rem;
  }
  .container .meal-box {
    width: 40vw;
  }
  .meal-box h3 {
    font-size: 3rem;
  }
  .meal-box p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 540px) {
  html {
    font-size: 30%;
  }
  .container {
    grid-template-columns: auto;
    justify-content: center;
    grid-gap: 2rem;
  }
  .container .meal-box {
    width: 60vw;
  }
  .meal-box h3 {
    font-size: 4rem;
  }
  .meal-box p {
    font-size: 3rem;
  }
}
